<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Suppress verbose WireMock logging -->
    <logger name="WireMock" level="WARN"/>
    <logger name="org.wiremock" level="WARN"/>
    <logger name="org.eclipse.jetty" level="WARN"/>

    <!-- SDK logging at DEBUG for tests -->
    <logger name="com.telos.loops" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
